@{
	ViewBag.Title = "CreateDb";
	ViewBag.VisitThis = "https://msdn.microsoft.com/ru-ru/data/ef.aspx";
}
<h2>Create Database</h2>
<span class="red">Database created successfully.</span>
@Html.ActionLink("Show Books", "Index", "Books");

